<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CypherSteg - Decode</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-gray-100">
    <nav class="bg-white shadow">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <div class="flex-shrink-0 flex items-center">
                        <span class="text-2xl font-bold text-hf-blue">CypherSteg</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <div class="bg-white shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <div class="flex justify-center mb-6">
                        <a href="{{ url_for('index') }}" class="nav-link text-4x4 font-bold mx-8 px-10 py-3 bg-blue-300 text-white rounded-lg hover:bg-blue-600 transition duration-300">
                            <bold>Encode</bold>
                        </a>
                        <a href="{{ url_for('decode') }}" class="nav-link text-4x4 font-bold mx-8 px-10 py-3 bg-green-300 text-white rounded-lg hover:bg-green-600 transition duration-300">
                            <bold>Decode</bold>
                        </a>
                    </div>
                    <h2 class="text-lg leading-6 font-medium text-gray-900 mb-4">Decode Steganographic Message from File</h2>
                    <div>
                        <label for="cover_object" class="block text-sm font-medium text-gray-700">Cover Object</label>
                        <select id="cover_object" name="cover_object" onchange="handleCoverObjectChange(this)" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
                            <option value="audio">Extract Audio</option>
                            <option value="text">Extract Text</option>
                            <option value="image">Extract Image</option>
                        </select>
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <div class="rounded-md bg-red-50 p-4 mb-4">
                                <div class="flex">
                                    <div class="flex-shrink-0">
                                        <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd"></path>
                                        </svg>
                                    </div>
                                    <div class="ml-3">
                                        <h3 class="text-sm font-medium text-red-800">
                                            {{ messages[0] }}
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endwith %}

                    <form action="{{ url_for('decode_audio_post') }}" method="post" enctype="multipart/form-data">
                        <div class="mt-4">
                            <label for="decode_audio" class="block text-sm font-medium text-gray-700">
                                Stego File (image)
                            </label>
                            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                                <div class="space-y-1 text-center">
                                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <div class="flex text-sm text-gray-600">
                                        <label for="decode_audio" class="relative cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
                                            <span>Upload a file</span>
                                            <input id="decode_audio" name="decode_audio" type="file" class="sr-only" required>
                                        </label>
                                        <p class="pl-1">or drag and drop</p>
                                    </div>
                                    <p class="text-xs text-gray-500">
                                        PNG, BMP or GIF up to 10MB
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                Decode
                            </button>
                        </div>
                    </form>

                    {% if decoded_message %}
                        <div class="mt-8 p-6 bg-gray-100 rounded-lg border border-gray-300">
                            <h3 class="text-xl font-semibold mb-3 text-gray-900">Decoded Message:</h3>
                            <pre class="whitespace-pre-wrap bg-white p-4 rounded shadow">{{ decoded_message }}</pre>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
    <script>        
        var urls = 
        {
            text: "{{ url_for('decode_text_post') }}",
            audio: "{{ url_for('decode_audio_post') }}",
            image: "{{ url_for('decode_image_post') }}"
        };
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>