<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stegno Team 03</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-gray-50 text-gray-900 font-sans">
    <nav class="bg-white shadow-sm">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <div class="flex-shrink-0 flex items-center">
                        <span class="text-2xl font-bold text-hf-blue">CypherSteg</span>
                    </div>
                </div>
                <div class="flex items-center">
                    <a href="{{ url_for('index') }}" class="nav-link">Encode</a>
                    <a href="{{ url_for('decode') }}" class="nav-link ml-4">Decode</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
        <div class="px-4 py-6 sm:px-0">
            <div class="bg-white shadow sm:rounded-lg">
                <div class="px-4 py-5 sm:p-6">
                    <div class="flex justify-center mb-6">
                        <a href="{{ url_for('index') }}" class="nav-link text-4x4 font-bold mx-8 px-10 py-3 bg-blue-300 text-white rounded-lg hover:bg-blue-600 transition duration-300">
                            <bold>Encode</bold>
                        </a>
                        <a href="{{ url_for('decode') }}" class="nav-link text-4x4 font-bold mx-8 px-10 py-3 bg-green-300 text-white rounded-lg hover:bg-green-600 transition duration-300">
                            <bold>Decode</bold>
                        </a>
                    </div>
                    <h2 class="text-lg leading-6 font-medium text-gray-900 mb-4">Encode Steganographic Message in Audio</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                      <div class="mt-4 p-4 rounded bg-{{ 'green' if category == 'success' else 'red' }}-100 text-{{ 'green' if category == 'success' else 'red' }}-800">
                        {{ message }}
                    </div>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}

                    <form action="{{ url_for('encode_audio_route') }}" method="post" enctype="multipart/form-data" class="space-y-6">
                        <div>
                            <label for="cover_object" class="block text-sm font-medium text-gray-700">Cover Object</label>
                            <select id="cover_object" onchange="handleCoverObjectChange(this)" name="cover_object" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-hf-blue focus:border-hf-blue sm:text-sm rounded-md">
                                <option value="audio">Audio (MP3, WAV)</option>
                                <option value="image">Image (PNG, BMP)</option>
                                <option value="video">Video (MP4, AVI, MKV)</option>
                            </select>
                        </div>
                        <div>
                            <label for="cover_audio" class="block text-sm font-medium text-gray-700">Cover Object File (.wav, .mp3)</label>
                            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                                <div class="space-y-1 text-center">
                                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <label for="cover_audio" class="block text-sm font-medium text-gray-700">Drag & Drop to Upload<br> Cover File (WAV or MP3)</label>
                                    <input type="file" id="cover_audio" name="cover_audio" accept=".wav, .mp3" class="mt-1 block w-full" required>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="payload_audio" class="block text-sm font-medium text-gray-700">Payload (.txt OR .png file)</label>
                            <div class="mt-1 flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                                <div class="space-y-1 text-center">
                                    <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                        <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                    <label for="payload_audio" class="block text-sm font-medium text-gray-700">Drag & Drop to Upload<br> Cover File (TEXT or PNG)</label>
                                    <input type="file" id="payload_audio" name="payload_audio" accept=".txt, .png" class="mt-1 block w-full" required>
                                </div>
                            </div>
                        <br>
                        <div>
                            <!-- Bit Size Input -->
                            <div class="mb-4">
                                <label for="bit_size" class="block text-sm font-medium text-gray-700">LSB Count (1-8)</label>
                                    <input type="range" id="bit_size" name="bit_size" min="1" max="8" value="1" class="mt-1 block w-full" oninput="bitSizeDisplay.textContent = bit_size.value">
                                    <div>Selected Bit Size: <span id="bitSizeDisplay">1</span>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div>
                            <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-hf-blue hover:bg-hf-blue focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-hf-blue">
                                Encode
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>        
        var urls = 
        {
            image: "{{ url_for('image') }}",
            audio: "{{ url_for('audio') }}",
            video: "{{ url_for('video') }}"
        };

        // Bit Size Display
        const bitSizeInput = document.getElementById('bit_size');
        const bitSizeDisplay = document.getElementById('bitSizeDisplay');
        bitSizeDisplay.textContent = bitSizeInput.value;

        bitSizeInput.addEventListener('input', function() {
            bitSizeDisplay.textContent = bitSizeInput.value;
        });
    </script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>